<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.linux.n8xx.bootmanager" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="N8xx Boot Manager"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="by.linux.n8xx.bootmanager.ItemListActivity"
            android:label="N8xx Boot Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.linux.n8xx.bootmanager.ItemDetailActivity"
            android:label="N8xx Boot Manager"
            android:parentActivityName="by.linux.n8xx.bootmanager.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.linux.n8xx.bootmanager.ItemListActivity" />
        </activity>
    </application>

</manifest>
